Repository MetalSage/space-stories-14, pull requests merged in 2024-12, with the labels that each got.

#20 fixed typos in tips.ftl
  Resources/Locale/ru-RU/tips.ftl
Labels: Changes: No C#

#22 Fix: yml #17 and after moved to "_Stories"
  Content.Server/_Stories/GameTicking/Rules/Components/ShadowlingRuleComponent.cs
  Content.Shared/_Stories/Nightvision/NightvisionComponent.cs
  Resources/Locale/ru-RU/datasets/names/ai.ftl
  Resources/Maps/_Stories/prison.yml
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Guidebook/stories.yml
  Resources/Prototypes/_Stories/Actions/force/general.yml
  Resources/Prototypes/_Stories/Actions/spaf.yml
  Resources/Prototypes/_Stories/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_Stories/Entities/Stations/base.yml
  Resources/Prototypes/_Stories/Recipes/Lathes/printer.yml
  Resources/Prototypes/_Stories/SoundCollections/emotes.yml
  Resources/Prototypes/_Stories/Voice/speech_sounds.yml
  Resources/ServerInfo/_Stories/ServerRules/StoriesRules.xml
Labels: Changes: Map, Changes: No C#

#23 Amber в список Stories карт
  Resources/Maps/_Stories/amber.yml
  Resources/Prototypes/_Stories/Maps/Pools/default.yml
  Resources/Prototypes/_Stories/Maps/amber.yml
Labels: Changes: Map, Changes: No C#

#24 Пачка небольших фиксов (ftl; prison)
  Resources/Locale/ru-RU/_stories/goals.ftl
  Resources/Locale/ru-RU/_stories/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Maps/_Stories/prison.yml
  Resources/Prototypes/_Stories/Entities/Objects/handheld_consoles.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Prison/prison_engineer.yml
Labels: Changes: Map, Changes: No C#

#2 Kilo Station
  Resources/Maps/_Stories/kilo.yml
  Resources/Prototypes/_Stories/Maps/Pools/default.yml
  Resources/Prototypes/_Stories/Maps/kilo.yml
Labels: Changes: Map, No C#, Changes: No C#

#27 Beta station
  Resources/Maps/_Stories/Shuttles/emergency_beta.yml
  Resources/Maps/_Stories/beta.yml
  Resources/Prototypes/_Stories/Maps/Pools/default.yml
  Resources/Prototypes/_Stories/Maps/beta.yml
Labels: Changes: Map, Changes: No C#

#28 Лимит для Кило
  Resources/Prototypes/_Stories/Maps/kilo.yml
Labels: Changes: No C#

#29 Realy black hole
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Shared/Singularity/Components/SingularityDistortionComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Textures/Shaders/singularity.swsl
Labels: Changes: Shaders

#30 Additive lighting
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Overlays/BasePostProcessOverlay.cs
  Content.Shared/CCVar/CCVars.Graphics.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Textures/Shaders/base_postprocess.swsl
Labels: Changes: UI, Changes: Shaders

#31 Text highlight
  Content.Client/Options/UI/OptionColorSlider.xaml
  Content.Client/Options/UI/OptionColorSlider.xaml.cs
  Content.Client/Options/UI/OptionsTabControlRow.xaml.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
  Resources/Locale/en-US/chat/highlights.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#32 The Chemmaster 4000 now has a separate buffer for creating tablets
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Changes: UI

#33 Удаление доступа в техи у ассистентов (пассажиров)
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: Changes: No C#
