Repository MetalSage/space-stories-14, pull requests merged in 2025-06, with the labels that each got.

#239 Поправка тяжести банов
  Resources/ConfigPresets/Stories/stories.toml
Labels: Changes: UI, Changes: No C#, S: Untriaged, size/XS

#240 Накидка ГСБ
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/clothing/neck/mantles.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Stories/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: No C#, size/S

#242 Добавлена сумка для плодов
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/_Stories/Objects/Tools/produce_bag.yml
  Resources/Textures/_Stories/Objects/Specific/Hydroponics/Equipment/produce_bag.rsi/equipped-BELT.png
  Resources/Textures/_Stories/Objects/Specific/Hydroponics/Equipment/produce_bag.rsi/icon.png
  Resources/Textures/_Stories/Objects/Specific/Hydroponics/Equipment/produce_bag.rsi/inhand-left.png
  Resources/Textures/_Stories/Objects/Specific/Hydroponics/Equipment/produce_bag.rsi/inhand-right.png
  Resources/Textures/_Stories/Objects/Specific/Hydroponics/Equipment/produce_bag.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#246 TTS Upstream
  Resources/Prototypes/tts-voices.yml
Labels: Changes: No C#, S: Untriaged

#250 Фикс сумки для плодов
  Resources/Prototypes/_Stories/Objects/Tools/produce_bag.yml
Labels: Changes: No C#, S: Untriaged

#251 Фикс UI для СМЭС и подстанций
  Content.Client/Power/Battery/BatteryMenu.xaml
Labels: Changes: UI, Changes: No C#, size/XS

#253 Исправление перевода турелей
  Resources/Locale/ru-RU/weapons/ranged/turrets.ftl
Labels: Changes: No C#, S: Untriaged

#255 Корпиумы ❤💥👾
  Content.Client/_Stories/ReagentStatusIcon/ReagentStatusIconSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Content.Shared/_Stories/Corpium/CorpiumComponent.cs
  Content.Shared/_Stories/ReagentStatusIcon/ReagentStatusIconComponent.cs
  Resources/Audio/_Stories/Corpium/alert.ogg
  Resources/Audio/_Stories/Corpium/attributions.yml
  Resources/Audio/_Stories/Corpium/footstep.ogg
  Resources/Audio/_Stories/Corpium/scream.ogg
  Resources/Locale/ru-RU/_stories/corpium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/mobs/aliens/corpium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/objects/specific/medipen.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Stories/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Aliens/corpium.yml
  Resources/Prototypes/_Stories/Entities/Objects/Specific/medipen.yml
  Resources/Prototypes/_Stories/GameRules/events.yml
  Resources/Prototypes/_Stories/Reagents/corpium.yml
  Resources/Prototypes/_Stories/SoundCollections/footsteps.yml
  Resources/Prototypes/_Stories/StatusIcon/reagent.yml
  Resources/Prototypes/_Stories/Voice/speech_emote_sounds.yml
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/CorpiumInfected.png
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/CorpiumReady.png
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Stories/Mobs/Aliens/corpium.rsi/alive.png
  Resources/Textures/_Stories/Mobs/Aliens/corpium.rsi/dead.png
  Resources/Textures/_Stories/Mobs/Aliens/corpium.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio, size/M

#258 Набор фиксов для корпиума
  Content.Client/_Stories/ReagentStatusIcon/ReagentStatusIconSystem.cs
  Content.Shared/_Stories/ReagentStatusIcon/ReagentStatusIconComponent.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/actions/corpium.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Stories/Actions/corpium.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Aliens/corpium.yml
  Resources/Textures/_Stories/Actions/corpium.rsi/hit.png
  Resources/Textures/_Stories/Actions/corpium.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S
