Repository MetalSage/space-stories-14, pull requests merged in 2025-05, with the labels that each got.

#192 fix local
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/ServerInfo/Guidebook/Jobs.xml
Labels: Changes: No C#, size/S

#193 Станция Инквизитора + Шаттл Инквизитора
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/markers/spawners/ghost_roles.ftl
  Resources/Maps/_Stories/Nonstations/inquisitor_station.yml
  Resources/Maps/_Stories/Shuttles/TIE.yml
  Resources/Prototypes/_Stories/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Stories/GameRules/events.yml
  Resources/Prototypes/_Stories/tags.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#194 Обновление ЦентКома
  Resources/Maps/_Stories/Shuttles/ERT_external.yml
  Resources/Maps/_Stories/Shuttles/mini_shuttle_centcom.yml
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, size/XL

#198 Автозамена слов
  Content.Server/_Stories/ChatFilter/ChatSystem.cs
Labels: S: Untriaged, size/S

#197 Перевод piercing, как "Колотый" тип урона
  Resources/Locale/ru-RU/damage/damage-types.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#200 Фикс коллизии существ
  Content.Shared/CCVar/CCVars.Movement.cs
  Content.Shared/Movement/Systems/SharedMobCollisionSystem.cs
  Content.Shared/_Stories/Weapons/Special/Garrote/GarroteComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flying_animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Aliens/spaf.yml
Labels: S: Untriaged, size/S

#203 Продолжительность пробега станции
  Resources/Locale/ru-RU/_stories/goals.ftl
Labels: Changes: No C#, S: Untriaged

#204 Респрайт шлема парамедика
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/XS

#205 Новые шаттлы для Lima
  Resources/Maps/_Stories/Shuttles/cargo_lima.yml
  Resources/Maps/_Stories/Shuttles/emergency_lima.yml
  Resources/Prototypes/_Stories/Maps/lima.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#206 Длительность защитного пузыря
  Content.Server/_Stories/ProtectiveBubble/Components/ProtectiveBubbleComponent.cs
  Content.Server/_Stories/ProtectiveBubble/Systems/ProtectiveBubbleSystem.Protect.cs
  Content.Server/_Stories/ProtectiveBubble/Systems/ProtectiveBubbleSystem.cs
Labels: S: Untriaged, size/S

#207 Ослабление стан меты против ЯО
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Untriaged

#209 Багфикс UI воздушной сигнализации
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#212 Фикс стрельбы по существам - ВАЖНО
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: S: Untriaged, size/XS

#213 Фикс закрытия роли кадета СБ
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#217 Фикс МузМат-а
  Resources/Prototypes/_Stories/Entities/Structures/vending_machines.yml
Labels: Changes: No C#

#195 Инквизитор в открытый доступ
  Content.Server/_Stories/ForceUser/Objectives/Components/PickRandomJobPersonComponent.cs
  Content.Server/_Stories/ForceUser/Objectives/Systems/PickRandomJobPersonSystem.cs
  Resources/Prototypes/_Stories/GameRules/events.yml
Labels: Changes: Map, size/S

#219 Fix Vulpkanin Wagging
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/actions/types.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#225 Добавление игровых событий Сториса в таблицы событий
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#230 Добавление Elkridge
  Resources/Maps/_Stories/elkridge.yml
  Resources/Prototypes/_Stories/Maps/Pools/default.yml
  Resources/Prototypes/_Stories/Maps/elkridge.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#231 Обновление Хилиума
  Resources/Prototypes/_Stories/Atmospherics/gases.yml
  Resources/Prototypes/_Stories/Reagents/gases.yml
  Resources/Textures/_Stories/Effects/atmospherics.rsi/healium.png
  Resources/Textures/_Stories/Effects/atmospherics.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged
