Repository MetalSage/space-stories-14, pull requests merged in 2025-03, with the labels that each got.

#95 HotFix jedi lodaut
  Resources/Prototypes/_Stories/Loadouts/jedint_loadouts.yml
Labels: Changes: No C#

#96 Fix coat jedi
  Resources/Prototypes/_Stories/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: No C#

#97 Fix name bz for ftl
  Resources/Locale/ru-RU/_stories/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/_stories/gases/gases.ftl
  Resources/Locale/ru-RU/_stories/reagents/gases.ftl
Labels: Changes: No C#

#100 Fix printers
  Resources/Prototypes/_Stories/Entities/Structures/Machines/printer.yml
Labels: Changes: No C#

#102 Fix yaml
  Resources/Locale/ru-RU/_stories/chat/species-emotes.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Prototypes/_Stories/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Species/kidan.yml
  Resources/Prototypes/_Stories/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Stories/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Stories/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Stories/Voice/speech_emotes.yml
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/full.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/head_f.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/head_m.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/icon.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/l_arm.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/l_foot.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/l_hand.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/l_leg.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/meta.json
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/overlay_husk.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/r_arm.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/r_foot.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/r_hand.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/r_leg.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/snout.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/torso_f.png
  Resources/Textures/_Stories/Mobs/Vulpkanin/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#

#106 Resprite mini medipens, golden toilet, firstaidkits
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/microstimpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/microstimpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salacid.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salacid_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salpen_empty.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/condisposal.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-charging.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-closed.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-flush.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal-open.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/disposal.png
  Resources/Textures/Structures/Furniture/golden_toilet.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#98 Esword antimeta
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#

#116 Переименовал камеры на КТ
  Resources/Maps/_Stories/prison.yml
Labels: Changes: Map, Changes: No C#

#117 Починить https://github.com/Space-Stories/space-station-14/pull/286
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Locale/ru-RU/accent/russian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#

#120 Маска Ричарда в аплинк
  Resources/Locale/ru-RU/_stories/store/uplink-catalog.ftl
  Resources/Prototypes/_Stories/Catalog/uplink_catalog.yml
Labels: Changes: No C#

#125 Квас
  Resources/Locale/ru-RU/_stories/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/_stories/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/_stories/reagents/drinks.ftl
  Resources/Prototypes/_Stories/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_Stories/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/_Stories/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/_Stories/Reagents/drinks.yml
  Resources/Textures/_Stories/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/_Stories/Structures/Storage/kvass.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#127 Корректировка цели на Сингу и Теслу
  Resources/Locale/ru-RU/_stories/goals.ftl
Labels: Changes: No C#

#135 Возвращение КЗ + Добавление модификаторов КЗ
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/_Stories/SpaceLaw.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/_Stories/ServerRules/SpaceLaw/SpaceStationBRIB.xml
  Resources/ServerInfo/_Stories/ServerRules/SpaceLaw/SpaceStationCrimeModifiers.xml
  Resources/ServerInfo/_Stories/ServerRules/SpaceLaw/SpaceStationCrimeTable.xml
  Resources/ServerInfo/_Stories/ServerRules/SpaceLaw/SpaceStationLaw.xml
Labels: Changes: No C#

#136 Фикс игральных карт
  Resources/Prototypes/_Stories/Entities/Objects/Fun/cards.yml
Labels: Changes: No C#

#137 Перевод целей Волшебника и Парадоксального клона
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/paradoxClone.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/wizard.ftl
Labels: Changes: No C#

#138 Волшебника в отдельный игровой режим
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Stories/secret_weights.yml
Labels: Changes: No C#

#140 Добавить колоду карт СССП
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/_Stories/Entities/Objects/Fun/cards.yml
  Resources/Textures/_Stories/Objects/Fun/card.rsi/box_empty.png
  Resources/Textures/_Stories/Objects/Fun/card.rsi/box_full_ussp.png
  Resources/Textures/_Stories/Objects/Fun/card.rsi/closed_ussp.png
  Resources/Textures/_Stories/Objects/Fun/card.rsi/meta.json
  Resources/Textures/_Stories/Objects/Fun/card.rsi/open_ussp.png
Labels: Changes: Sprites, Changes: No C#

#141 Fixed kilo
  Resources/Maps/_Stories/kilo.yml
  Resources/Prototypes/_Stories/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#

#144 Update beta
  Resources/Maps/_Stories/beta.yml
Labels: Changes: Map, Changes: No C#

#146 Update box
  Resources/Maps/box.yml
Labels: Changes: Map, Changes: No C#

#148 Update meta
  Resources/Maps/meta.yml
Labels: Changes: Map, Changes: No C#

#145 Update bagel
  Resources/Maps/bagel.yml
Labels: Changes: Map, Changes: No C#

#149 Фиксы Бригмедика
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: No C#

#150 Новое правило в гайдбук
  Resources/ServerInfo/_Stories/ServerRules/StoriesRules.xml
Labels: Changes: No C#

#152 Фикс рук Киданов и Вульп
  Resources/Prototypes/_Stories/Body/Parts/kidan.yml
  Resources/Prototypes/_Stories/Body/Prototypes/kidan.yml
  Resources/Prototypes/_Stories/Body/Prototypes/vulpkanin.yml
Labels: Changes: No C#

#153 Фикс спрайта силовика
  Resources/Textures/Objects/Weapons/Guns/Shotguns/enforcer.rsi/equipped-BACKPACK.png
Labels: Changes: Sprites, Changes: No C#

#132 Событие - Ошибка распределения рабочих мест
  Content.Server/_Stories/StationEvents/JobDistributionErrorRule.cs
  Content.Server/_Stories/StationEvents/JobDistributionErrorRuleComponent.cs
  Resources/Locale/ru-RU/_stories/job/job-description.ftl
  Resources/Locale/ru-RU/_stories/job/job-names.ftl
  Resources/Locale/ru-RU/_stories/station-events/bureaucratic-error.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Stories/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/_Stories/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Stories/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Stories/GameRules/events.yml
  Resources/Prototypes/_Stories/Loadouts/command_maid_loadouts.yml
  Resources/Prototypes/_Stories/Loadouts/party_maker_loadouts.yml
  Resources/Prototypes/_Stories/Loadouts/security_clown_loadouts.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Wildcards/command_maid.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Wildcards/party_maker.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Wildcards/security_clown.yml
  Resources/Prototypes/_Stories/Roles/play_time_trackers.yml
  Resources/Prototypes/_Stories/StatusIcon/job.yml
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/CommandMaid.png
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/PartyMaker.png
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/SecurityClown.png
  Resources/Textures/_Stories/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Stories/Objects/Misc/id_cards.rsi/idcommandmaid.png
  Resources/Textures/_Stories/Objects/Misc/id_cards.rsi/idpartymaker.png
  Resources/Textures/_Stories/Objects/Misc/id_cards.rsi/idsecurityclown.png
  Resources/Textures/_Stories/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites

#134 Added to uplink hud syndicate agent and small fix
  Resources/Locale/ru-RU/_stories/store/uplink-catalog.ftl
  Resources/Prototypes/_Stories/Catalog/uplink_catalog.yml
Labels: Changes: No C#
