Repository MetalSage/space-stories-14, pull requests merged in 2025-02, with the labels that each got.

#50 deleting unused sprite
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/icon-on.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/bomber.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/bomber.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/bomber.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/bomber.rsi/open-inhand-right.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-approve.png
Labels: Changes: Sprites, Changes: No C#

#59 Fix and translate upstream
  Resources/Locale/ru-RU/administration/admin-alerts.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/permissions-eui.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/advertisements/vending/gibb.ftl
  Resources/Locale/ru-RU/advertisements/vending/smite.ftl
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/discord/watchlist-connections.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/components/ghost-component.ftl
  Resources/Locale/ru-RU/ghost/spooky-speaker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/lobby/lobby-gui.ftl
  Resources/Locale/ru-RU/mind/role-types.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/nutrition/components/food-component.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/robotics/mmi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/telephone/telephone.ftl
  Resources/Prototypes/_Stories/Entities/Mobs/Aliens/spaf.yml
  Resources/Prototypes/_Stories/lobbyscreens.yml
Labels: Changes: No C#

#60 Fix Sith
  Content.Server/_Stories/Empire/EmpireSystem.cs
  Resources/Maps/_Stories/Shuttles/TIE.yml
  Resources/Prototypes/_Stories/Objectives/sith.yml
  Resources/Prototypes/_Stories/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Stories/conversions.yml
Labels: Changes: Map

#62 Fix prison alert
  Resources/Locale/ru-RU/_stories/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_stories/entities/stations/base.ftl
  Resources/Prototypes/_Stories/AlertLevels/alert_levels.yml
  Resources/Prototypes/_Stories/Entities/Stations/base.yml
  Resources/Prototypes/_Stories/Entities/Stations/prison.yml
  Resources/Prototypes/_Stories/Maps/prison.yml
Labels: Changes: No C#

#57 Fix KT roles
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/_Stories/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Prison/prison_engineer.yml
Labels: Changes: No C#

#61 Fix Integration Tests
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/ConfigPresets/Stories/develop.toml
  Resources/ConfigPresets/Stories/mappers.toml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Stories/Body/Organs/stomach_kidan.yml
  Resources/Prototypes/_Stories/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Player/ascendance.yml
  Resources/Prototypes/_Stories/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Stories/Entities/Structures/windows.yml
Labels: Changes: Map

#72 Fix emotion for Stories races
  Resources/Audio/_Stories/Voice/Vulpkanin/attributions.yml
  Resources/Audio/_Stories/Voice/Vulpkanin/dog_howl.ogg
  Resources/Locale/ru-RU/_stories/chat/species-emotes.ftl
  Resources/Prototypes/_Stories/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Stories/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Stories/SoundCollections/vulpkanin.yml
  Resources/Prototypes/_Stories/Voice/Vulpkanin/vulpkanin_emote_sounds.yml
  Resources/Prototypes/_Stories/Voice/speech_emotes.yml
  Resources/Textures/_Stories/Interface/Emotes/angry_grrr.png
  Resources/Textures/_Stories/Interface/Emotes/attributions.yml
  Resources/Textures/_Stories/Interface/Emotes/bark.png
  Resources/Textures/_Stories/Interface/Emotes/howl.png
  Resources/Textures/_Stories/Interface/Emotes/love.png
  Resources/Textures/_Stories/Interface/Emotes/meow_1.png
  Resources/Textures/_Stories/Interface/Emotes/meow_2.png
  Resources/Textures/_Stories/Interface/Emotes/raw.png
  Resources/Textures/_Stories/Interface/Emotes/shhh.png
  Resources/Textures/_Stories/Interface/Emotes/whine.png
Labels: Changes: No C#, Changes: Audio

#70 Ancient toolboxes
  Resources/Locale/ru-RU/_stories/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/_stories/loadouts/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Stories/Loadouts/passenger.yml
  Resources/Prototypes/_Stories/Objects/Tools/toolbox.yml
  Resources/Textures/_Stories/Objects/Tools/Toolboxes/toolbox_ancient.rsi/icon-open.png
  Resources/Textures/_Stories/Objects/Tools/Toolboxes/toolbox_ancient.rsi/icon.png
  Resources/Textures/_Stories/Objects/Tools/Toolboxes/toolbox_ancient.rsi/inhand-left.png
  Resources/Textures/_Stories/Objects/Tools/Toolboxes/toolbox_ancient.rsi/inhand-right.png
  Resources/Textures/_Stories/Objects/Tools/Toolboxes/toolbox_ancient.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#73 Fix Beta
  Resources/Maps/_Stories/beta.yml
Labels: Changes: Map, Changes: No C#

#76 TTS Upstream
  Resources/Prototypes/tts-voices.yml
Labels: Changes: No C#

#53 Add role brigmedic
  Resources/Locale/ru-RU/_stories/job/job-description.ftl
  Resources/Locale/ru-RU/_stories/job/job-names.ftl
  Resources/Locale/ru-RU/_stories/loadouts/loadout-groups.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Stories/Loadouts/brigmedic_loadouts.yml
  Resources/Prototypes/_Stories/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Stories/Roles/play_time_trackers.yml
Labels: Changes: No C#

#75 Colored swords for loadout
  Resources/Locale/ru-RU/_stories/entities/objects/weapons/melee/e_sword.ftl
  Resources/Prototypes/_Stories/Entities/Objects/Weapons/Melee/lightsaber.yml
  Resources/Prototypes/_Stories/Loadouts/Jobs/jedi_nt.yml
  Resources/Prototypes/_Stories/Loadouts/jedint_loadouts.yml
Labels: Changes: No C#

#77 Add Healium and BZ gas
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Server/_Stories/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/_Stories/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/ru-RU/_stories/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/_stories/gases/gases.ftl
  Resources/Locale/ru-RU/_stories/reagents/gases.ftl
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/_Stories/Atmospherics/gases.yml
  Resources/Prototypes/_Stories/Atmospherics/reactions.yml
  Resources/Prototypes/_Stories/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Stories/Reagents/gases.yml
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/bz-1.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/bz.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-connector.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-o0.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-o1.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-o2.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-o3.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-oa1.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/can-open.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/healium-1.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/healium.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/locked.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/scrubber-connector.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/scrubber-open.png
  Resources/Textures/_Stories/Structures/Storage/canister.rsi/unlocked.png
Labels: Changes: Sprites

#78 Fix KT alert ftl
  Resources/Locale/ru-RU/_stories/alert-levels/alert-levels.ftl
Labels: Changes: No C#

#79 Fix ancient toolboxes
  Resources/Prototypes/_Stories/Loadouts/passenger.yml
Labels: Changes: No C#

#83 Rebalance RCD costs
  Resources/Prototypes/RCD/rcd.yml
Labels: Changes: No C#

#86 Resprite lecter
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#90 Garrote
  Content.Server/_Stories/Garrote/GarroteSystem.cs
  Content.Shared/_Stories/Weapons/Special/Garrote/GarroteComponent.cs
  Content.Shared/_Stories/Weapons/Special/Garrote/GarroteEvents.cs
  Content.Shared/_Stories/Weapons/Special/Garrote/SharedGarroteSystem.cs
  Resources/Locale/ru-RU/_stories/garrote/garrote-component.ftl
  Resources/Locale/ru-RU/_stories/weapons/special.ftl
  Resources/Prototypes/_Stories/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Stories/Weapons/garrote.yml
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/icon.png
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/inhand-left.png
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/inhand-right.png
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/meta.json
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/wielded-inhand-left.png
  Resources/Textures/_Stories/Objects/Weapons/Special/garrote.rsi/wielded-inhand-right.png
Labels: Changes: Sprites
