Repository MetalSage/space-stories-14, pull requests merged in 2025-07, with the labels that each got.

#267 Исправление "силы" парадоксального клона
  Content.Server/GameTicking/Rules/ParadoxCloneRuleSystem.cs
  Content.Shared/_Stories/ForceUser/Systems/ForceUserSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, size/S, S: Needs Review

#257 Корректировка цели на киборгов
  Resources/Locale/ru-RU/_stories/goals.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#268 Исправление лицезнии
  LICENSE.md
Labels: Changes: No C#, S: Untriaged, size/XS, S: Needs Review

#273 Время открытия для Инквизитора
  Resources/Locale/ru-RU/_stories/ghost-roles.ftl
  Resources/Prototypes/_Stories/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#235 Холодная сварка
  Resources/Audio/_Stories/Items/ColdWelding/attributions.yml
  Resources/Audio/_Stories/Items/ColdWelding/cold_welding.ogg
  Resources/Locale/ru-RU/_stories/entities/objects/tools/welders.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_Stories/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Stories/Recipes/Lathes/tools.yml
  Resources/Prototypes/_Stories/SoundCollections/tools.yml
  Resources/Textures/_Stories/Objects/Tools/cold_welding.rsi/equipped-BELT.png
  Resources/Textures/_Stories/Objects/Tools/cold_welding.rsi/icon.png
  Resources/Textures/_Stories/Objects/Tools/cold_welding.rsi/inhand-left.png
  Resources/Textures/_Stories/Objects/Tools/cold_welding.rsi/inhand-right.png
  Resources/Textures/_Stories/Objects/Tools/cold_welding.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, Changes: Audio, S: Untriaged, size/S

#272 Обновление выдачи антагонистов спонсорам
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/_Stories/Partners/UI/SpecialRolesEui.cs
  Content.Client/_Stories/Partners/UI/SpecialRolesMenu.xaml
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/_Stories/GameTicking/Rules/Components/InquisitorRuleComponent.cs
  Content.Server/_Stories/Partners/SpecialRolesSystem.cs
  Content.Shared/_Stories/Partners/UI/SpecialRolesEuiMsg.cs
  Content.Shared/_Stories/Sponsors/MsgSponsorInfo.cs
  Resources/Locale/ru-RU/_stories/special-roles-ui.ftl
  Resources/Prototypes/_Stories/GameRules/events.yml
Labels: Changes: UI, S: Untriaged, size/M, S: Needs Review

#275 Исправление ниндзя спонсоров
  Content.Server/_Stories/Partners/SpecialRolesSystem.cs
Labels: S: Untriaged, size/XS, S: Needs Review
